.cards {
    display: grid;
    grid-template-columns: auto auto;
}

img{
    width: fit-content;
}

.wrap {
    text-align: center;
    align-self: center;
    align-items: center;
}

.wrap p{

    color: rgb(147, 150, 150);
}

.wrap h2{

    font-size: 30px;
}