<div class="cards">

    <div class="image">
        <img src="assets/images/ic1.png" style="width: 100%;">

    </div>

    <div class="wrap">
        <h2>sjnv scknsdcnsdncnsd c</h2>
        <p>nsivns vcsnf sfnsdf skjfna djanc ajhna skdncsd jsnc</p>

    </div>

    <div class="wrap">
        <h2>sjnv scknsdcnsdncnsd c</h2>
        <p>nsivns vcsnf sfnsdf skjfna djanc ajhna skdncsd jsnc</p>
    </div>

    <div class="image">
        <img src="assets/images/ic2.png" style="width: 100%;">


    </div>


</div>
