.cards {
    display: grid;
    grid-template-columns: auto auto;
}

.image{
    background-image: url(assets/images/sn1-bg.png);
    padding-left: 12em;
    align-content: center;
    align-items: center;
    align-self: center;
}

.wrap {
    text-align: center;
    align-self: center;
    align-items: center;
}