.body1{
    
    display: grid;
    grid-template-columns: 100%;
    padding-top: 100px;
}

.heading {
    text-align: center;
    align-content: baseline;
    font-size: 30px;
    padding-top: 2em;
    font-family: 'Montserrat';

    
}

.detail{
    text-align: center;
    padding-bottom: 60px;
    color: #bcbec1;
}

.btn{
    text-align: center;
    align-self: center;
    
}


.btn button{
    background-color: white;

    border: none;
    border-radius: 35px;
    box-shadow: 0 0 65px #dae4ef;
    color: #43a9ff;
    font-size: 14px;
    height: 51px;
    line-height: 18px;
    padding: 0;
    text-transform: uppercase;
    width: 229px;
}
.img-background img {
    
    width: 100%;
   

}