body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    
  }

.Header {
    display: grid;
    grid-template-columns: auto auto auto;
}
.Header h2 {
    text-align: center;
    align-content: center;
    padding-top: 3em;
    font-family: "Montserrat";
}

.menu{
    text-align: center;
    align-self: center;
    border-radius: 50%;
}


.btn {
    text-align: center;
    align-self: center;
}

