.body1{
    
    display: grid;
    grid-template-columns: 100%;
    padding-top: 100px;
}

.heading {
    text-align: center;
    align-content: baseline;
    
}

.detail{
    text-align: center;
    padding-bottom: 60px;
}

.btn{
    text-align: center;
    align-self: center;
    
}

.img-background img {
    
    width: 100%;
   

}

