<div class="cards">

    <div class="image1">
        <img src="assets/images/app1.png" style="align-self: center;">

    </div>

    <div class="wrap">
        <h2>sjnv scknsdcnsdncnsd c</h2>
        <p>nsivns vcsnf sfnsdf skjfna djanc ajhna skdncsd jsnc</p>

    </div>

    <div class="wrap">
        <h2>sjnv scknsdcnsdncnsd c</h2>
        <p>nsivns vcsnf sfnsdf skjfna djanc ajhna skdncsd jsnc</p>
    </div>

    <div class="image">
        <img src="assets/images/app2.png">


    </div>


</div>
